<h1>test</h1>
<br/>
<div class="row row-cols-4">
  <% @participants.each do |participant| %>
    <div class="col">
      <%= participant.name %>
    </div>
    <% end %>
</div>
<%= render "check", participant: @participant %>