<p style="color: green"><%= notice %></p>

<h1>Snack games</h1>

<div id="snack_games">
  <% @snack_games.each do |snack_game| %>
    <%= render snack_game %>
    <p>
      <%= link_to "Show this snack game", snack_game %>
    </p>
  <% end %>
</div>

<%= link_to "New snack game", new_snack_game_path %>
