<p style="color: green"><%= notice %></p>

<h1>Player games</h1>

<div id="player_games">
  <% @player_games.each do |player_game| %>
    <%= render player_game %>
    <p>
      <%= link_to "Show this player game", player_game %>
    </p>
  <% end %>
</div>

<%= link_to "New player game", new_player_game_path %>
