<table class="table">
  <tbody>
  <tr>
    <th scope="row">Date</th>
    <td><%= game.game_date %></td>
  </tr>
  <tr>
    <th scope="row"></th>
    <td><%= game.participant_id %></td>
  </tr>
  </tbody>
</table>