<table class="table">
  <thead>
  <tr>
    <th scope="col"></th>
    <% @snacks.each do |snack| %>
      <th scope="col">
        <%= link_to edit_snack_path(snack), class: "text-decoration-none text-success" do %>
          <%= snack.title %>
          </th>
        <% end %>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Points:</td>
    <% @snacks.each do |snack| %>
      <td><%= snack.points %></td>
    <% end %>

  </tr>
  </tbody>
</table>